nav {
  display: flex;
  height: 120px;
  font-family: 'Bungee', sans-serif;
  color: #ffffff;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  background: #4056A1;
  position: fixed;
  width: 100%;
}

.navRight {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-content: right;
  margin: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
}

.navLeft {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: right;
  margin: 1.5em;
}

/* made to try and remove border from nav tweet button */

.button {
    display: flex;
    align-items: center;
    font-family: 'Bungee', sans-serif;
    background-color: #4056A1;
    color: #f4f1ec;
    margin-top: 5px;
}