.new-tweet {
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  margin-top: 30px;
}

.announce-tweet {
  display: flex;
  justify-content: center;
}

form {
  display: flex; 
  flex-direction: column;
  width: 75%; 
}

.tweet-text {
  border-style: hidden;
  border-bottom: 5px solid  #545149; 
  resize: none; 
  font-weight: 500; 
  line-height: 1;
}

.tweet-submit-counter{
  display: flex; 
  justify-content: space-between;
  margin-top: 5px;
}

button {
  display: flex; 
  align-items: center;
  font-family:'Bungee', sans-serif;
  background-color: #4056A1;
  color: #f4f1ec;
  margin-top: 5px;
  border-color: #4056A100;
}

.counter {
  font-family:'Bungee', sans-serif;
  float: right; 
}

.error {
  border-color: red;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  height: 50px;
  border-width: 5px;
  color: red;
  border-style: solid;
  display: none;
  width: 75%;
}

@media (min-width: 1024px) {
  .new-tweet {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
    padding-top: 50px;
    width: 60vw;
  }

  .new-tweet h2 {
    width: 60vw;
  }
  
}