.tweet-container {
  display: flex; 
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.tweet{
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.tweet:hover {
  box-shadow: 10px 10px #0e5b5e;
  opacity: 1;
}

.content-user-pic{
  width: auto;
  height: 60px;
}

.content-header{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500; 
  line-height: 1;
}

.content-body{
  display: flex;
  border-bottom: 5px solid  #545149;
  width: 75%;
  justify-content: left;
  align-items: center;
}

.content-footer{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500; 
  line-height: 1;
  width: 100%;
}

.icon:hover {
  color: orange;
}

/* 1024 MEDIA */

@media (min-width: 1024px) {
  .tweet-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-end;
    margin-top: .5em;
    width: 55vw
  }

  .tweet {
    width: 100%; 
    margin-bottom: 15px;
  }
}
